body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#developerStyle {
    color: #286090;
    text-decoration: underline;
    font-weight: bold;
}
<<<<<<< 6ddd651715f2bd4d41a8a6797b4f7a52a08666d8
=======

.width {
    width: 175px;
}
>>>>>>> Final Commit
