@{
    ViewBag.Title = "Home";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="jumbotron">
    <h1>University Course and Result Management System</h1>
    <p class="lead">Web Solution to manage courses and results easily!</p>
    <p><a href="http://aust.edu" class="btn btn-primary btn-lg" target="_blank">Learn more About University&raquo;</a></p>
</div>

<h2 id="developerStyle">Developers: </h2> 
<div class="row">
    <div class="col-md-4">
        <h2>Sadia Jahan</h2>
        <p>
            One of the Developers
        </p>
        <p><a class="btn btn-default" href="http://linkedin.com" target="_blank">Learn more&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MD. Al-Imran</h2>
        <p>One of the Developers</p>
        <p><a class="btn btn-default" href="http://linkedin.com" target="_blank">Learn more&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Forhad Alam</h2>
        <p>One of the developers</p>
        <p><a class="btn btn-default" href="http://linkedin.com" target="_blank">Learn more&raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tazrin Kunjo</h2>
        <p>One of the Developers</p>
        <p><a class="btn btn-default" href="http://linkedin.com" target="_blank">Learn more&raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Asif Bhuiyah</h2>
        <p>One of the Developers</p>
        <p><a class="btn btn-default" href="http://linkedin.com" target="_blank">Learn more&raquo;</a></p>
    </div>
</div>